@import "tailwindcss";

.ant-popover-inner {
  text-align: center;
}

.ant-popover-buttons {
  display: flex !important;
  justify-content: center !important;
  margin-top: 12px;
}

.ant-popover-buttons > button {
  margin: 0 8px;
}
