@import "tailwindcss";

.ant-popover-inner {
  text-align: center;
}

.ant-popover-buttons {
  display: flex !important;
  justify-content: center !important;
  margin-top: 12px;
}

.ant-popover-buttons > button {
  margin: 0 8px;
}

.ant-modal-root .ant-modal-mask {
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, 0.45);
}
